@import '../styles/main.scss';

.taskItems{
 background-color: #F1F1F1;
 padding: 10px 20px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 @include mobile{
  
 }
 .task__title{
  color: gray;
  display: flex;
  align-items: center;
  margin-right: 10px;
  input[type="checkbox"] {
    accent-color: black;
  }
  p{
    color: #000;
    margin-left: 10px;
  }
 }
 .due-date{
  @include mobile{
    display: none;
  }
 }
 .task__status{
  position: relative;
  background: rgb(196, 196, 196);
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  @include mobile{
    display: none;
  }
  select{
    position: absolute;
    padding: 5px 10px;
    font-size: 18px;
    top: 0px;
    left: 0;
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
  }
 }
 .task__category{
  display: none;
}
 :nth-last-child(1){
  
  select{
    position: absolute;
    right: 50px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    display: inline-block;
    padding: 5px 20px;
    :nth-child(3){
      color: red;
    }
  }
  
 
  p{
    padding: 5px 10px;
  }
 }
}